# dependencies
/node_modules

# production build
/build
/dist

# misc
.DS_Store
.env
.env.local
.env.development
.env.production
.env.test

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/
.idea/

# Optional caches
.cache
.eslintcache
coverage
*.log

# local dev tools
/.pnp
.pnp.js

# Typescript
*.tsbuildinfo

# Mac + Windows system files
Thumbs.db
