/* ===== Overall Section ===== */
.products-section {
  padding: 60px 8%;
  background: rgb(255, 255, 255);
  min-height: 100vh;
  color: #fff;
}
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 8s linear infinite;
  font-size: 24px;
  color: #eb8f05;
  font-weight: bold;
}

@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}


.products-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  color: #00eaff;
  letter-spacing: 1px;
}

/* ===== GRID ===== */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

/* ===== CARD ===== */
.product-card {
  background: rgba(255, 255, 255, 0.08);
  padding: 20px;
  border-radius: 14px;
  backdrop-filter: blur(8px);
  box-shadow: 0 10px 20px rgba(0, 234, 255, 0.1);
  transition: all 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.15);
  text-align: center;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 234, 255, 0.25);
  background: rgba(255, 255, 255, 0.15);
}

/* ===== IMAGE ===== */
.product-image {
  width: 100%;
  height: 180px;
  background: #0f172a;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.4s;
}

.product-card:hover img {
  transform: scale(1.05);
}

/* ===== TEXT ===== */
.product-name {
  font-size: 1.2rem;
  margin: 8px 0;
  font-weight: 600;
  color: #d4462d;
}

.product-price {
  font-size: 1.1rem;
  font-weight:800;
  color: #1900ffb9;
  margin-bottom: 15px;
}

/* ===== BUTTON ===== */
.add-btn {
  background: #00eaff;
  color: #000;
  border: none;
  padding: 10px 20px;
  width: 100%;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover {
  background: #00c9e0;
  transform: scale(1.03);
}
.add-btn {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.add-btn:active {
  transform: scale(1);
  box-shadow: 0 2px 10px rgba(0,0,0,0.9);
}
/* ===== Responsive ===== */

/* Tablet / iPad Mini */
@media (max-width: 850px) {
  .products-title {
    font-size: 2rem;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .products-section {
    padding: 40px 5%;
  }

  .product-card {
    padding: 18px;
  }

  .product-name {
    font-size: 1rem;
  }

  .product-price {
    font-size: 0.95rem;
  }

  .add-btn {
    padding: 8px 16px;
  }
}
